<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>

<body>

    <h1>you are on the edit post</h1>

    <p>Post Id : <%= post.id %>
    </p>
    <p>Username : <%= post.username %>
    </p>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" id="">
            <%= post.content %>
        </textarea>
        <button>Edit post</button>
    </form>
    <br>
    <br>

</body>

</html>