<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts">
        <h3>add new post</h3>
        <input type="text" name="username" id="" placeholder="username"><br> <br>
        <textarea name="content" id=""  placeholder="write your post"></textarea>

        <br> <br>
        <button>Add new post</button>
    </form>
</body>
</html>